@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
:root {
  --font-family: "Roboto", sans-serif;
  --lightblue: #92cccd;
  --gray-bg: #31343d;
  --blue-text: #445876;
  --font-bg: 3em;
  --font-mid: 2em;
  --font-sml: 1em;
}

body {
  font-family: var(--font-family);
  line-height: 1.5;
  animation: transitionIn 0.75s;
}

a {
  text-decoration: none;
  color: var(--blue-text);
}
/* =====================================
       Header + NAV-BAR 
=======================================*/

.header {
  display: flex;
  justify-content: space-between;
  padding: 1%;
  font-size: var(--font-mid);
  background-color: var(--gray-bg);
}

.header h1 {
  color: var(--gray-bg);
  font-size: var(--font-md);
  background-color: var(--lightblue);
  padding: 5px 5px 5px 200px;
  border-radius: 4px;
  animation: size 2s ease-in-out 0s normal;
  z-index: 1;
}

nav {
  display: flex;
  color: var(--lightblue);
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav a {
  font-size: var(--font-sml);
  padding: 12px;

  color: var(--lightblue);
  border-bottom: 4px solid var(--lightblue);
  margin-right: 20px;
  border-radius: 25px;
  transition: all 0.4s;
}

nav a:hover {
  border: 4px solid #fff;
  color: #fff;
  font-size: var(--font-mid);
}

/* =====================================
       Figure Main Page Picture
=======================================*/

.figure {
  display: flex;
}

.main-picture img {
  display: flex;
  align-items: flex-start;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.figure {
  position: relative;
}

.figure .box {
  position: absolute;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 200px;
  margin-top: 300px;
  padding: 2%;
  background-color: var(--lightblue);
  font-size: var(--font-mid);
  color: var(--gray-bg);
  border-radius: 50px;
  animation: box 2s ease-in-out 0s normal;
  z-index: 2;
}

.box h1 {
  font-size: var(--font-bg);
}

/* =====================================
       Global Items
=======================================*/

main {
  height: 100vh;
  padding: 50px 200px 50px 200px;
}

main h1 {
  font-size: var(--font-bg);
  color: var(--blue-text);
}

.title {
  display: flex;
  text-align: right;
  padding-right: 20px;
  border-right: 4px solid var(--blue-text);
}

.flex-row {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
}

/* ===============
      About 
==================*/

.about .paragraph-text {
  padding-left: 20px;
  line-height: 2.5rem;
  color: var(--blue-text);
}

/* ===============
      Work
==================*/

.work .title h1 {
  padding-left: 86px;
}

/* =========
     First Picture
==========*/

.first-picture {
  position: relative;

  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 100px;
  padding-top: 10px;
}

.first-picture .big-picture {
  position: relative;
  width: 800px;
  height: 500px;
  overflow: hidden;
  transition: 0.5s;
  border: 4px solid var(--lightblue);
}

.first-picture .big-picture:hover {
  z-index: 1;
  transform: scale(1.05);
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}

.first-picture .big-picture .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.first-picture .big-picture .imgBx::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #92cccda9;
  mix-blend-mode: multiply;
  opacity: 1;
  transition: 0.5s;
}

.first-picture .big-picture:hover .imgBx::before {
  opacity: 0;
}

.first-picture .big-picture .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.first-picture .big-picture .picture-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: var(--lightblue);
  top: 0;
  left: 0;
  margin-top: 300px;
  width: 200px;
  height: 100px;
  z-index: 1;
  padding: 20px;
  color: var(--gray-bg);
}

.picture-box h4 {
  font-size: 1.5em;
}

/* =========
     Secound Picture
==========*/
.secound-picture {
  position: relative;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 100px;
  padding-top: 10px;
}

.secound-picture .small-pictures {
  position: relative;
  width: 390px;
  height: 100px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  transition: 0.5s;
  border: 4px solid var(--lightblue);
}

.secound-picture .small-pictures:hover {
  z-index: 1;
  transform: scale(1.05);
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}

.secound-picture .small-pictures .imgSx::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #92cccda9;
  mix-blend-mode: multiply;
  opacity: 1;
  transition: 0.5s;
}

.secound-picture .small-pictures:hover .imgSx::before {
  opacity: 0;
}

.secound-picture .small-pictures .imgSx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.secound-picture .small-pictures .picture-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: var(--lightblue);
  top: 0;
  left: 0;
  margin-top: 20px;
  z-index: 1;
  padding: 2px;
  color: var(--gray-bg);
}

/* ===============
      Contact
==================*/
.contact .title h1 {
  padding-left: 28px;
}

.contact-info {
  display: flex;
  font-size: var(--font-mid);
}
.contact-info ul {
  display: flex;
  flex-direction: row;
}
.contact-info li {
  padding: 20px;
}

.contact-info a {
  border-bottom: 2px solid var(--lightblue);
  border-radius: 5px;
}

.contact-info a:hover {
  z-index: 2;
  transform: scale(1.05);
}

/* ===============
      Resume
==================*/
.resume {
  width: 100%;
  height: 20vh;
}

/* =====================================
      KEY FRAMES SECTION
=======================================*/

/* =====================================
      TransitionIn Animation Hole page
=======================================*/

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

/* =====================================
      HEADING SIZE ANIMATION
=======================================*/

@keyframes size {
  from {
    padding: 5px 5px 5px 5px;
    border-radius: 4px;
    background-color: var(--gray-bg);
    color: var(--lightblue);
  }
  to {
    padding: 5px 5px 5px 200px;
    border-radius: 4px;
  }
}

/* =====================================
        BOX ANIMATION  
=======================================*/

@keyframes box {
  from {
    border-radius: 0;
    padding: 0;
    margin-top: 0;
    color: #fff;
    background-color: var(--gray-bg);
  }
  to {
    margin-left: 200px;
    margin-top: 300px;
    padding: 2%;
    border-radius: 50px;
  }
}
